* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'JetBrains Mono', sans-serif;
}

#page-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    margin: 8rem;
    gap: 1rem;
}

#top-container,
#left-container,
#right-container {
    padding: 2rem;
    background-color: #414141;
    border-radius: 20px;
}

#top-container {
    display: grid;
    grid-area: 1 / 1 / span 1 / span 2;
    justify-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#search-ctnr {
    display: flex;
    align-items: center;
}

#search {
    width: 600px;
    padding: 1rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 1.2rem;
}

#submit {
    background-image: url('./icons/search-web.svg');
    width: 60px;
    height: 59px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#left-container {
    grid-area: 2 / 1 / span 1/ span 1;
    justify-content: space-between;
}

#weather-data {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    gap: 1.5rem;
    font-size: 1.5rem;
    width: 400px;
}

#more-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#format-btn {
    align-self: flex-end;
    background-color: #414141;
    border-color: #fff;
    padding: 1.5rem;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
}

#format-btn:hover {
    background-color: #fff;
    color: #000;
}

#icon {
    width: 200px;
    height: 200px;
}

#right-container {
    grid-area: 2 / 2 / span 1 / span 1;
}

#icon {
    filter: invert(1);
}
